In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

%matplotlib inline

In [2]:
appointments = pd.read_csv('noshowappointments-kagglev2-may-2016.csv')

In [3]:
appointments.columns = appointments.columns.str.lower()
appointments.rename(columns={'handcap': 'handicap', 
                             'hipertension': 'hypertension'}, inplace=True)

In [62]:
def group_issues(df):
    """Assigns an issue label for every patient who had an appointment.
       If no or multiple issues, the function returns "none" or 
       "multiple" accordingly
    """
    # Create a new column for the new variable
    df['issue'] = (df.hypertension + df.diabetes + df.alcoholism + df.handicap).astype(np.int64)
    
#     # Convert 1s to the actual issue name
#     df.hypertension = df.hypertension.apply(lambda x: 'hypertension' if x == 1 else x)
#     df.diabetes = df.diabetes.apply(lambda x: 'diabetes' if x == 1 else x)
#     df.alcoholism = df.alcoholism.apply(lambda x: 'alcoholism' if x == 1 else x)
#     df.handicap = df.handicap.apply(lambda x: 'handicap' if x == 1 else x)

    # Convert 0s to 'none' and values greater than 1 to 'multiple'
    df.issue = df.issue.apply(lambda x: 'none' if x == 0 else 'multiple' if x > 1 else x)

    # Convert the remaining records (patiens with only one issue) 
    # to issue name
    for i in range(df.shape[0]):
        if df.iloc[i].issue == 1 and df.iloc[i].hypertension == 1:
            df.loc[i, 'issue'] = 'hypertension'
        elif df.iloc[i].issue == 1 and df.iloc[i].diabetes == 1:
            df.loc[i, 'issue'] = 'diabetes'
        elif df.iloc[i].issue == 1 and df.iloc[i].alcoholism == 1:
            df.loc[i, 'issue'] = 'alcoholism'
        elif df.iloc[i].issue == 1 and df.iloc[i].handicap == 1:
            df.loc[i, 'issue'] = 'handicap'

In [63]:
group_issues(appointments)

C:\Users\advpro\Anaconda3\envs\da_nanodegree\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [87]:
appointments.loc[0, 'issue'] = 'hypertension'
appointments.iloc[0]['issue']

'hypertension'

In [60]:
appointments.iloc[0].age

62

In [69]:
appointments.head(5)

,patientid,appointmentid,gender,scheduledday,appointmentday,age,neighbourhood,scholarship,hypertension,diabetes,alcoholism,handicap,sms_received,no-show,issue
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No,1
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No,0
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No,0
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No,0
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No,2

In [56]:
for row in appointments.iloc[:-1].loc:
    print(row)
    break

patientid                  2.98725e+13
appointmentid                  5642903
gender                               F
scheduledday      2016-04-29T18:38:08Z
appointmentday    2016-04-29T00:00:00Z
age                                 62
neighbourhood          JARDIM DA PENHA
scholarship                          0
hypertension                         1
diabetes                             0
alcoholism                           0
handicap                             0
sms_received                         0
no-show                             No
issue                                1
Name: 0, dtype: object